
@{
    ViewBag.Title = "Index";
}

<div>
    @*ng-controller="UserCtrl" ng-init="initIndex()"*@
    <div class="jumbotron PageHeading">
        <div class="row">
            <div class="col-md-3">
                <h2>Leads List</h2>
            </div>
            <div class="col-md-9 ">
                <a class="btn btn-primary pull-right" style=" margin-top: 20px;" href="/Lead/Add">Add</a>
            </div>
        </div>
    </div>
    <div class="jumbotron PageHeading">
        <table class="table" width="100%">
            <tr class="table-head">
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Company Name
                </th>

                <th>
                    Assigned PMD
                </th>
                <th>
                    Feasibility
                </th>
                <th>
                    Assigned PreSale
                </th>
                <th>Qutation Approval</th>
                <th>
                    Lead Status
                </th>
                <th>Stage</th>
                <th>
                    Created By
                </th>
                <th style="width: 10%;">
                    Created At
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr>
                <td>1</td>
                <td>Fiber Connection Lead</td>
                <td>Habib University pvt ltd</td>
                <td>Asad Ali</td>
                <td>Feasible</td>
                <td>Anas Malik</td>
                <td>Approved</td>
                <td>Open</td>
                <td>Closing Stage</td>
                <td>HummamShah@sharptel.com</td>
                <td>12-23-20</td>
                <td>
                    <a href="/Vendor/Edit?Id={{Vendor.Id}}" title="Edit"><i class="fas fa-pencil-alt" title="Edit"></i></a>
                    <a href="/Vendor/Details?Id={{Vendor.Id}}" title="Details"><i class="fas fa-file" title="Details"></i></a>
                    <a href="/Vendor/Print?Id={{Vendor.Id}}" title="Print"><i class="fas fa-print" title="Print"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>

