@using Microsoft.AspNet.Identity;
@using UserRoles = LMS.Models.Enums.Roles;
@{
    ViewBag.Title = "Home Page";
    var UserId = User.Identity.GetUserId();
}

<br />
<br />
<br />
<div class="row">
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">

    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
        @if (User.IsInRole(UserRoles.Admin))
        {
            <h2>Welcom Admin <br />Coming Soon! InsAllah</h2>
        }
        @if (User.IsInRole(UserRoles.SuperAdmin))
        {
            <h2>Welcom Super Admin <br />Coming Soon! InsAllah</h2>
        }

    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">

    </div>
</div>